* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html * {
  max-height: 999999px;
}

body{
  background: url(../images/background.png);
  background-repeat: no-repeat; 
  background-size: cover;
  color: #193347;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Poppins';
  box-sizing: border-box;
}

.main-container{
  display: block;
  overflow: hidden;
}

.content-wrapper{
  width: 90%;
  margin:auto;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1580px;
  width: 100%;
}

.custom-title {
  position: relative;
  font-size: 170px;
  font-weight: 900;
  line-height: 1.6;
  text-transform: none;
  margin: 0; 
  color: #000;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(55deg, #cbe1ef 35%, #e3f1f7 45%);
  -webkit-background-clip: text;
}

h4 {
  position: relative;
  color: #193347;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 20px;
  z-index: 2;
}


.link-style {
  color: #f7a140;
  font-weight: 700;
  border-bottom: 1px solid #f7a140;
  text-decoration: none;
  font-size: 20px;
  text-shadow: 0 7px 9px rgba(33, 62, 83, 0.12);
} 

.link-style:hover {
  color: #f7a140;
  text-decoration: none;
} 

.small-icon-wrap {
  position: absolute;
  width: 60%;
  z-index: 10;
}

/***************************
   Home Section
***************************/

.home {
  padding: 60px 0 0 60px;
  position: relative;
}

.home-row {
  margin-top:20px;
  display: flex;
  justify-content: space-between;
}

.home-col-1 {
  position: relative;
  width:35%;
  margin: 0 auto 0 20px;
}

.request{
  margin-bottom: -40px;
}

.home-col-2 {
  position: relative;
  width:45%;
  margin: 0 auto;
}

.home-text{
  color:#3f8bbd;
  font-size: 21px;
  font-weight: 300;
}

.home-form-wrapper {
  position: relative;
}

.logo {
  max-width: 400px;
  padding-bottom:30px;
}

.logo img {
  display: block;
  max-width: 100%;
  height: auto;
}

.home-title{
  display: block;
  color:  #000;
  font-size: 175px;
  font-weight: 900;
  line-height: 1.2;
  text-transform: none;
  text-align: center;
  /* text-shadow: 0 3px 5px rgba(99, 186, 248, 0.4); */
  /* text-shadow: 0 3px 5px rgba(191, 221, 243, 0.4); */
  text-shadow: 1px -2px 20px rgba(191, 221, 243, 0.4);
  
  
}

#title-span{
  font-size: 113px;
}

.home-title.heading-up{
  text-align: left;
  margin-bottom:-80px;
  -webkit-text-fill-color: transparent;
  background-image:-webkit-linear-gradient(105deg, #90bfda 45%,#3a83bb 75%);
  /* background-image: -webkit-linear-gradient(105deg, #b6d7ea 45%,#66a0cc 75%); */
  -webkit-background-clip: text;
}

.home-title.heading-down{
  margin-left:125px;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(55deg, #90bfda 50%,#3a83bb 85%);
  -webkit-background-clip: text;
}

.home-icon{
  display: block;
  position: absolute;
}

.home-icon:nth-child(1){
  max-width: 75px;
  left: 680px;
  top: 750px;
}
  
.home-icon:nth-child(2){
  max-width: 55px;
  left: -60px;
  top: -80px;
}
  
.home-icon:nth-child(3){
  max-width: 27px;
  left: 28px;
  top: -55px;
}
  
.home-icon:nth-child(4){
  max-width: 10px;
  left: -50px;
  top: 20px;
}
  
.home-icon:nth-child(5){
  max-width: 22px;
  left: 645px;
  top: 815px;
}


/************
    Form
*************/

input.hs-button.primary.large{
  border:none;
  outline: none;
  /* overflow: hidden; */
  display: block;
  margin: auto;
  /* text-align: center; */
  /* position: relative; */
  text-decoration: none;
  text-transform: lowercase;
  cursor: pointer;
  transition: .3s ease;
  min-width: 250px;
  text-shadow: 0 3px 5px rgba(33, 62, 83, 0.2);
  color: white;
  font-size: 26px;
  font-weight: 800;
  border-radius: 7px;
  height: 65px;
  box-shadow: 0 15px 25px rgba(25, 51, 71, 0.1), inset 0 -5px 0 rgba(0, 0, 0, 0.1);
  background-color: #d3de3f;
  background-image: linear-gradient(25deg, rgba(195, 216, 46, 0.5) 0%, rgba(230, 231, 93, 0.5) 100%);
}

input.hs-button.primary.large:hover{
  background-color: #b5c22a;
}

.hs-form .hs-form-field {
  position: relative;
  margin-bottom: 25px;
}

label{
  opacity: 0.6;
  color: #193347;
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  top:25px;
  margin-left:30px;
}

::-webkit-input-placeholder {
  color: #193347;
  font-size: 20px;
  opacity: 0.5;
  font-weight: 300;
}

::-moz-placeholder {
  color: #193347;
  font-size: 20px;
}

:-ms-input-placeholder {
  color: #193347;
  font-size: 20px;
}

:-moz-placeholder {
  color: #193347;
  font-size: 20px;
}

input:focus::placeholder{
  color:transparent;
}


.hs-firstname label, .hs-lastname label, .hs-email label, .hs-phone label,.hs-company label {
  display: none;
}


#label-numemployees-ecc29b24-00c4-42c3-8215-f31ba412f934,
#label-do_you_have_an_lms_radio-ecc29b24-00c4-42c3-8215-f31ba412f934{
  top:-50px;
  width: 100%;
}

#label-how_many_topics_do_you_train_on_annually_-ecc29b24-00c4-42c3-8215-f31ba412f934{
  width:44%;
  top: 5px;
}

.hs-numemployees{
  width:47%;
  float: left;
  margin: 50px auto 0px auto;
}

.hs_do_you_have_an_lms_radio{
  width:50%;
  float: right;
  margin: 50px auto 0px auto;
}

.hs_how_many_topics_do_you_train_on_annually_{
  clear: left;
}

.hs_how_many_topics_do_you_train_on_annually_ .input{
  float: right;
  width:47%;
  margin: auto;
}

.hs-input{
  border: none;
  outline: none;
  position: relative;
  z-index: 9;
  transition: 0.5s ease;
  border-radius: 5px;
  width: 100%;
  height: 80px;
  box-shadow: 0 13px 50px rgba(219,235,244,0.6);
  background-color: #fff;
  color:  #193347;
  padding: 0px 30px;
  font-size: 16px;
  font-weight: 400;
  -webkit-appearance: none;
}

.hs-numemployees select{
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../images/svg/arrow.svg) no-repeat;
  background-color: white;
  background-position: 10% 50%;
  background-size: 18px;
  padding: 0px 50px;
  text-align-last: end;
  font-size: 20px;
}

.hs_how_many_topics_do_you_train_on_annually_ select{
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../images/svg/arrow.svg) no-repeat;
  background-color: white;
  background-position: 90% 50%;
  background-size: 18px;
  padding: 0px 40px;
  font-size: 20px;
}

.hs-form-radio .hs-input{
  box-shadow: none;
  height: auto;
  width:auto;
}

ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

li{
  width: 40%;
  margin: auto;
}

/* .hs-form-radio p{
  display: inline;
} */

.hs_radio_select_property.field.hs-form-field{
  margin-bottom: 0;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  visibility: hidden;
}

[type="radio"]:checked + span,
[type="radio"]:not(:checked) + span
{
  position: relative;
  cursor: pointer;
  line-height: 20px;
    
}

[type="radio"]:checked + span{
  width: 100px;
}

[type="radio"]:not(:checked) + span:before {
  content: '';
  position: absolute;
  top: -17px;
  right: -77px;
  width: 63px;
  height: 63px;
  box-shadow: 0 15px 25px rgba(25, 51, 71, 0.1), inset 2px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #f6fafd;
  border: 15px solid rgb(255, 255, 255);
  border-radius: 100%;
}

.hs-form-radio label{
  color:black;
  opacity: 1;
}

[type="radio"]:checked + span:after,
[type="radio"]:not(:checked) + span:after {
  content: '';
  width: 63px;
  height: 63px;
  box-shadow: 0 15px 25px rgba(25, 51, 71, 0.1), inset 0 -5px 0 rgba(0, 0, 0, 0.1);
  background-color: #d3de3f;
  border: 15px solid rgb(255, 255, 255);
  position: absolute;
  right: -77px;
  top:-17px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + span:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.hs_submit{
  padding: 100px 0px 0px;
}


/***************************
   Features Section
***************************/

.features{
  padding-top: 140px;
}

.features-body{
  width:85%;
  margin:30px 20px 0px 160px;
}

.features-row {
  display: flex;
  justify-content: space-between;
}

.features-col {
  width: 50%;
}

h3{
  font-weight:700;
  font-size:28px;
}

p.features-text {
  font-size:18px;
  font-weight: 300;
}

.icon{
  height: 27px;
  width: 27px;
  display: block;
  background-image: url(../images/chackmark-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  float:left;
  margin: 2px 5px auto auto ;
}


/***************************
      Toggle Section
***************************/

.toggle {
  position: relative;
  padding: 2% 5% 0% 5%;
}

.toggle .custom-title.heading-up{
  text-align: left;
  margin-bottom:-125px;
}

.toggle .custom-title.heading-down{
  margin-left:520px;
  margin-bottom:-60px;
}

h5{
  color: #cbe1ee;
  font-size: 40px;
  line-height: 1;
  font-weight: 700;
}

.panel-group .panel+.panel{
  margin-top:25px;
}

.panel-heading{
  padding: 0;
}

.toggle-datas{
  margin:50px 15px;
}

.panel{
  cursor: pointer;
  padding: 5px 2px;
  background-color: white;
  box-shadow:4px 5px 20px 2px rgba(208, 234, 243, 0.664);
}

.panel:hover{
  cursor: pointer;
  background-color: #ffffff;
  box-shadow:4px 5px 20px 2px rgba(141, 201, 223, 0.664);
}

/* .pricing-card:hover img{
  transform: scale(1.1);
  transition: .4s ease-in;
} */

.toogle-heading{
  margin-top:15px;
}

p.toggle-text{
  margin-top: 1rem;
  font-weight: 300;
  padding: 5px 0px;
  line-height: 1.3;
}

.toggle-image{
  display: none;
  padding:3% 5%;
}

.toggle-image img {
  width:100%;
}


.panel-title {
  text-decoration: none;
  color: #193347;
  font-size: 18px;
  padding: 10px 10px;
  margin-bottom: -1px;
  font-weight:600;
  display: flex;
}

.icon-div{
  width:20px;
  margin: auto 30px;
}

.check-icon{
  height: 22px;
  width: 22px;
  display: block;
  background-image: url(../images/chackmark-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  float:left;
  margin: auto ;
}


/***************************
   Pricing Section
***************************/

.pricing{
  position: relative;
  padding: 2% 7% 0% 10%;
}

.pricing .custom-title{
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(55deg, #cbe1ef 35%, #e3f1f7 65%);
  -webkit-background-clip: text;
}

.pricing-subtitle{
  width:68%;
  margin:-65px 0 0 80px;
  position: relative;
}

.pricing-row{
  position: relative;
}

.text-up{
  float:left;
}

.text-down{
  float: right;
  margin-top:-10px;
}

.pricing-row, .manage-row{
  display: flex;
  margin-left: 30px;
}

.cl-1{
  position: relative;
}


.cl-2{
  margin-left: 40px;
  margin-top: 90px;
}

.pricing-para, .eng-para, .manage-para{
  font-size: 20px;
  font-weight: 300;
}

.pricing-icon{
  display: block;
  max-width: 40px;
  position: absolute;
}

.pricing-icon:nth-child(1) {
  max-width: 33px;
  left: 559px;
  top: 54px;
}

.pricing-icon:nth-child(2) {
  max-width: 12px;
  left: 603px;
  top: 82px;
}

.pricing-icon:nth-child(3) {
  max-width: 40px;
  left: -45px;
  bottom: 109px;
}


/***************************
   engagement Section
***************************/

.engagement{
  position: relative;
  padding: 0% 7% 0% 10%;
}

.eng-row{
  margin-left: 30px;
}

.engagement .heading-up{
  text-align: right;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(65deg, #cbe1ef 40%, #ddecf5 100%);
  -webkit-background-clip: text;
}

.engagement .heading-down{
  text-align: left;
  margin:-140px 0px -50px 0px;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(65deg, #cbe1ef 35%, #eaf3f7 65%);
  -webkit-background-clip: text;
}

.eng-subtitle{
  text-align: right;
  margin: -10px 160px 25px 0px;
}

.eng-links{
  width: 655px;
  margin: auto;
}
.eng-links a  {
  margin-left: 30px;
}

.eng-icon{
  display: block;
  max-width: 40px;
  position: absolute;
}

.eng-icon:nth-child(1) {
  max-width: 12px;
  left: 1178px;
  top: -231px;
}

.eng-icon:nth-child(2) {
  max-width: 55px;
  left: 1185px;
  bottom: 130px;
}

.eng-icon:nth-child(3) {
  max-width: 22px;
  left: 725px;
  bottom: 395px;
}


/***************************
   Manage Section
***************************/

.manage{
  position: relative;
  padding: 2% 7% 0% 10%;
}

.manage .custom-title{
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(55deg, #cbe1ef 35%, #e3f1f7 55%);
  -webkit-background-clip: text;
}

.manage .cl-2{
  margin-left: 50px;
}

.manage-subtitle{
  margin:-50px 0px 0px 5px;
}

.manage-icon{
  display: block;
  max-width: 40px;
  position: absolute;
}

.manage-icon:nth-child(1) {
  max-width: 12px;
  left: -21px;
  top: -220px;
}

.manage-icon:nth-child(2) {
  max-width: 55px;
  left: -80px;
  bottom: 136px;
}

.manage-icon:nth-child(3) {
  max-width: 40px;
  left: 710px;
  bottom: 0px;
}


/********************
     Contact
*********************/

.contact-section{
  position: relative;
}

.contact{
  margin:150px 150px 0 ;
  position: relative;
}

.bg-image {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-10%, 35%) scale(0.9,0.9);
}

.contact-row{
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}

.contact-col-2 {
  max-width: 38%;
}

.contact-col-1 {
  max-width: 60%;
  flex: 0 0 60%;
}

.free-trial-btn{
  margin-top: 20px;
  display: flex;
}

.contacts-title {
  font-size: 35px;
  font-weight: 400;
  line-height: 1;
}

.contacts-title span{
  font-size: 50px;
  font-weight: 700;
}

.contacts-title a{
  font-weight: 700;
  color:  #193347;
  text-decoration: none;
}

.contacts-subtitle {
  font-size: 26px;
  line-height: 1;
  margin-bottom: 40px;
}

.contacts-btn-wrap {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.contacts-text {
  font-size: 30px;
  font-weight: 400;
  margin-right: 18px;
}

.contacts-btn{
  display: inline;
}

.contacts-helmet {
  display: block;
  transform: translate(130px, 50px) scale(1.2);
  max-width: 100%;
}

.contacts-image-wrap {
  position: relative;
}

.contact-icon{
  display: block;
  max-width: 40px;
  position: absolute;
}

.contact-icon:nth-child(1) {
  max-width: 72px;
  left: 490px;
  top: -410px;
}

.contact-icon:nth-child(2) {
  max-width: 28px;
  left: 33px;
  bottom: -20px;
}

.contact-icon:nth-child(3) {
  max-width: 60px;
  left: 85px;
  bottom: -80px;
}

.contact-icon:nth-child(4) {
  max-width: 12px;
  left: 10px;
  bottom: -55px;
}

.contact-icon:nth-child(5) {
  max-width: 32px;
  left: 465px;
  top: -325px;
}


.btn-style {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  transition: .3s ease;
  line-height: 1.2;
  text-decoration: none;
  min-width: 170px;
  border-radius: 10px;
  height: 70px;
  box-shadow: 0 15px 25px rgba(25, 51, 71, 0.1), inset 0 -5px 0 rgba(0, 0, 0, 0.1);
  background-color: #d3de3f;
  background-image: linear-gradient(25deg, rgba(195, 216, 46, 0.5) 0%, rgba(230, 231, 93, 0.5) 100%);
} 

.btn-style a{
  text-decoration: none;
}

.btn-style-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 25px;
}
  
.btn-style-text {
  text-align: center;
  position: relative;
  display: block;
  text-decoration: none;
  text-shadow: 0 3px 5px rgba(33, 62, 83, 0.2);
  color: white;
  font-size: 26px;
  font-weight: 900;
}
  
.btn-style:hover{
  background-color: #b4c03c;
}

.btn-style:focus{
  border: none;
}

button.btn-style:focus{
  border: none;
  outline: none;
}

/**************
    Footer 
***************/

.footer {
  position: relative;
  padding: 150px 0 20px 80px;
  background: url(../images/footer-bg.png);
  background-size: cover;
}

.footer-logo-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

.footer-logo {
  margin-right: 33px;
}

.footer-logo img{
  display: block;
  max-width: 160px;
  height: auto;
  margin-bottom: 15px;
}

.footer-nav {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.footer-nav a{
  color: #193347;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  margin-right: 20px;
  text-decoration: none;
}

.footer-copyright {
  opacity: 0.5  ;
  color: #193347;
  font-size: 18px;
}

.row {
  display: flex;
  align-items: center;
} 


/********************
    Lift Up  
*********************/

.lift-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  z-index: 80 ;
  width: 60px;
  height: 60px;
  box-shadow: 0 0 35px rgba(177, 192, 201, 0.75);
  background-color: white;
  transform: translateY(120%);
  transition:  0.5s ease;;
}

._active {
  transform: translateY(0);
}
  
.lift-up:after {
  content: "";
  display: block;
  width: 22px;
  height: 16px;
  background-image: url(../images/svg/arrow.svg);
  transform: scale(1, -1);
  background-repeat: no-repeat;
  background-size: contain;
}

  
.lift-up:hover::before{
  transform: translate(-50%, -70%) rotate(-90deg);
}



/**************************
        Media Query
***************************/

@media only screen and (max-width:1200px){

  .footer-nav{
    flex-wrap: wrap;
  }

  .footer-nav a{
    margin-bottom: 14px;
  }

}

@media only screen and (max-width: 350px){

}


@media only screen and (max-width: 767px){

  .small-icon-wrap{
    display: none;
  }
}

@media only screen and (max-width:600px){
  
  .home{
    padding: 20px 0 60px;
  }


  .home-col-1 {
    width:90%;
    margin: auto;
  }

  .home-col-2 {
    width:100%;
    margin: auto;
  }

  .home-row {
    flex-direction: column;
  }

  .row {
    flex-direction: column;
    margin:0px;
  }

  .custom-title {
    font-size: 55px;
    line-height: .8;
    text-align: center;
  }

  h4{
    font-size: 16px;
    margin-bottom: 8px;
  }

  .link-style{
    font-size: 18px;
  }

  .btn-style{
    height:60px;
  }

  .btn-style-text{
    font-size: 20px;
  }

  .home-play-btn{
    top: 45%;
    width: 60px;
  }



  /*  form */

  .hs-form label {
    font-size: 16px;
    top: -30px;
  }

  .hs-form .hs-form-field {
    margin-bottom: 50px;
  }

  select#numemployees.hs-input{
    font-size: 14px;
  }

  select{
    background-position: 90% 45%;
    background-size: 18px;
    text-align-last: left;
  }

  [type="radio"]:not(:checked) + span:before {
    left: 110px;
    top: -12px;
    width: 40px;
    height: 40px;
    border: 10px solid rgb(255, 255, 255);
  }

  [type="radio"]:checked + span:after,
  [type="radio"]:not(:checked) + span:after {
    width: 20px;
    height: 20px;
    left: 120px;
    top: 2px;
  }

  #do_you_have_an_lms_radio0-06257986-1392-4aad-86ec-bba38f21f752:checked + span:before{
    display: none;
    width: 80px;
    height: 110px;
  }

  .hs-form-radio .hs-form-radio-display span{
    font-size:20px;
    display: table;
  }

  textarea#multi_line_text_property {
    padding: 10px 10px;
  }

  .form-label{
    text-align: center;
    font-size: 12px;
    margin: 20px 0px 20px 0px;
  }

  ul{
    width: 100%;
    margin: 0 0 4% 0;
    flex-direction: column;
    justify-content: space-between;
  }

  li{
    width: 65%;
    display: flex;
    margin: auto 31%;
  }

  .hs-form-radio p {
    font-size: 18px;
    width: 100px;
  }

  .input .hs-input{
    height: 50px;
    padding: 10px 10px;
  }

  .hs_submit{
    align-self: center;
  } 

  
  /* contact */

  .contacts-subtitle {
    font-size: 20px;
    font-weight: 400;
  }

  .contacts-title span {
    font-size: 30px;
  }

  .contacts-title {
    font-size: 26px;
  }

  .contacts-helmet {
    transform: translate(0px, 0px);
  }

  .contact-icon:nth-child(1) {
    max-width: 62px;
    left: 260px;
  }

  .contact-icon:nth-child(5) {
    max-width: 32px;
    left: 260px;
  }

  .free-trial-btn .btn-style .btn-style{
    font-size: 30px;
  }

  .free-trial-btn .btn-style{
    height: 60px;
    font-weight: 700;
  }

  .contact {
    padding: 50px 0px 0px 0px;
  }

  .contact-row {
    flex-direction: column-reverse;
  }

  .contact-col-2{
    margin-bottom: 40px;
    max-width: 100%;
  }
  .contact-col-1 {
    max-width: 90%;
    margin: auto;
  }

  .footer {
    padding: 85px 20px 20px;
  }

  .footer-logo {
    margin-right: 50px;
    margin-bottom: 35px;
  }

  .footer-copyright {
    font-size: 13px;
  }

  .footer-logo-wrap{
    display: block;
    margin-bottom:15px;
  }

  .footer-nav a{
    font-size: 16px;
  }

}

@media only screen and (min-width:600px) and (max-width:767px){
  
  .home{
    padding: 20px 0 60px;
  }

  .heading-up{
    margin-bottom: -30px;
  }

  .heading-down{
    margin: 30px 0px 0px 0px;
  }

  .home-col-1 {
    width:90%;
    margin: auto;
  }

  .home-col-2 {
    width:80%;
    margin: auto;
  }

  .row {
    flex-direction: column;
    margin:0px;
  }

  .custom-title {
    font-size: 75px;
    line-height: .8;
    text-align: center;
  }

  h4{
    font-size: 18px;
  }

  .link-style{
    font-size: 20px;
  }

  .btn-style{
    height:60px;
  }

  .btn-style-text{
    font-size: 20px;
  }

  /*  form */

  .hs-form label {
    font-size: 18px;
    top: -35px;
  }


  .hs-form .hs-form-field {
    margin-bottom: 55px;
  }

  select#numemployees.hs-input{
    font-size: 16px;
  }

  select{
    background-position: 90% 45%;
    background-size: 18px;
    text-align-last: left;
  }

  textarea#multi_line_text_property {
    padding: 10px 10px;
  }

  ul{
    width: 98%;
  }

  .input .hs-input{
    height: 65px;
    padding: 15px 15px;
  }

  .hs_submit{
    align-self: center;
  }

  
  /* contact */

  .contacts-subtitle {
    font-size: 20px;
    font-weight: 400;
  }

  .contacts-title span {
    font-size: 30px;
  }

  .contacts-title {
    font-size: 26px;
  }

  .contacts-helmet {
    transform: translate(0px, 0px);
  }

  .free-trial-btn .btn-style .btn-style{
    font-size: 30px;
  }

  .free-trial-btn .btn-style{
    height: 60px;
    font-weight: 700;
  }

  .contact {
    padding: 50px 0px 0px 0px;
  }

  .contact-row {
    flex-direction: column-reverse;
  }

  .contact-col-2{
    margin-bottom: 40px;
    max-width: 100%;
  }

  .contact-col-1 {
    max-width: 90%;
    margin: auto;
  }

  .footer {
    padding: 85px 20px 20px;
  }

  .footer-logo {
    margin-right: 50px;
    margin-bottom: 35px;
  }

  .footer-copyright {
    font-size: 13px;
  }

}


@media only screen and (min-width:768px) and (max-width:950px){
 
  .content-wrapper{
    width: 96%;
  }
  
  .home{
    padding-top: 30px;
    padding-left:0;
  }

  .logo {
    max-width: 330px;
  }

  .home-col-1{
    width:43%;
  }
  
  .home-col-2{
    width: 50%;
    margin: 0;
  }

  .home-title{
    font-size: 100px;
  }

  .home-title.heading-up{
    margin-bottom: -45px;
  }
  
  .home-title.heading-down{
    margin-left: 70px;
  }
  
  #title-span{
    font-size: 65px;
  }
  
  .request{
    margin-bottom: -20px;
    margin-top: 0px;
  }

  .home-text{
    font-size: 16px;
  }
  
  .custom-title {
    font-size: 80px;
  }


  /* Form */

  input.hs-button.primary.large{
    font-size: 24px;
    height: 60px;
  }

  .input .hs-input{
    height: 55px;
  } 
  
  .hs-form .hs-form-field {
    margin-bottom: 15px;
  }

  label{
    font-size: 15px;
    margin-left:0px;
    top:10px;
  }
  
  ::-webkit-input-placeholder {
    font-size: 16px;
  }
  ::-moz-placeholder {
    font-size: 16px;
  }
  :-ms-input-placeholder {
    font-size: 16px;
  }
  :-moz-placeholder {
    font-size: 16px;
  }
  
  .hs-numemployees select, .hs_how_many_topics_do_you_train_on_annually_ select{
    background-size: 14px;
    padding: 0px 20px;
    font-size: 14px;
  }

  #label-how_many_topics_do_you_train_on_annually_-ecc29b24-00c4-42c3-8215-f31ba412f934 {
    top: 0px;
    width:46%;
  }

  #label-numemployees-ecc29b24-00c4-42c3-8215-f31ba412f934,
  #label-do_you_have_an_lms_radio-ecc29b24-00c4-42c3-8215-f31ba412f934 {
    top: -45px;
    width: 100%;
  }

  #label-do_you_have_an_lms_radio-ecc29b24-00c4-42c3-8215-f31ba412f934{
    padding-left: 10px;
  }

  .hs-form-radio .hs-input{
    height: auto;
  }
  
  [type="radio"]:not(:checked) + span:before {
    right: -56px;
    width: 50px;
    top:-13px;
    height: 50px;
    border: 12px solid rgb(255, 255, 255);
  }
  
  
  [type="radio"]:checked + span:after,
  [type="radio"]:not(:checked) + span:after {
    top:-13px;
    width: 50px;
    height: 50px;
    border: 12px solid rgb(255, 255, 255);
    right: -56px;
  }
  
  [type="radio"]:not(:checked) + span:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  
  .hs_submit{
    padding: 80px 0px 0px;
  }

  /* Features */

  .features {
    padding-top: 80px;
    padding-left: 70px;
  }

  .features-body{
    width:100%;
    margin: auto;
  }

  .features-col {
    width: 48%;
  }  

  h3 {
    font-size: 22px;
    line-height: 1.4;
  }

  p.features-text{
    font-size: 16px;
  }

  /* toggle */

  .toggle .custom-title.heading-up {
    margin-bottom: -60px;
  }

  .toggle .custom-title.heading-down {
    margin-left: 255px;
    margin-bottom: -40px;
  }

  h5{
    font-size: 28px;
  }

  .panel-title{
    font-size: 16px;
    line-height: 1.6;
    padding: 0px 10px;
  }

  p.toggle-text{
    line-height: 1.4;
  }

  /* Pricing */

  .pricing{
    padding: 0% 5% 0% 0%;
  }

  .pricing-subtitle {
    width: 90%;
    margin: -25px 0 0 26px;
  }

  .pricing-para, .eng-para, .manage-para {
    font-size: 16px;
  }

  .cl-2 {
    margin-left: 30px;
    margin-top: 55px;
  }

  /* Engagement */

  .engagement{
    padding: 4% 10% 0% 0%;
  }

  .engagement .heading-down{
    margin: -65px 0px -15px 0px;
  }

  /* Manage */

  .manage{
   padding: 2% 5% 0% 0%;
  }

  .manage-subtitle {
    margin: -20px 0px 0px 5px;
  }

  /* contact */
  .contact {
    margin:100px 0px 0px;
  }

  .bg-image {
    transform: translate(-33%, 35%) scale(0.5,0.5);
  }

  .contacts-title {
    font-size: 30px;
  }
  
  .contact span {
    font-size: 30px;
  }

  .contacts-subtitle {
    font-size: 20px;
  }

  .contacts-helmet{
    transform: translate(35px, 10px); 
  }

  .contact .btn-style-text{
    font-size: 24px;
    height: 60px;
    line-height: 2.5;
  }

  /* Footer */

  .footer{
    padding: 200px 20px 20px;
  }
}

@media only screen and (min-width:951px) and (max-width:1200px){
 
  .home{
    padding-left:0;
  }

  .home-col-1{
    width:40%;
  }
  
  .home-col-2{
    width: 50%;
    margin: 0;
  }

  .home-title{
    font-size: 115px;
  }

  .home-title.heading-up{
    margin-bottom: -55px;
  }
  
  .home-title.heading-down{
    margin-left: 85px;
  }
  
  #title-span{
    font-size: 75px;
  }
  
  .request{
    margin-bottom: -20px;
  }

  .home-text{
    font-size: 17px;
  }
  
  .custom-title {
    font-size: 100px;
  }


  /* Form */

  input.hs-button.primary.large{
    font-size: 24px;
    height: 60px;
  }

  .input .hs-input{
    height: 60px;
  } 
  
  .hs-form .hs-form-field {
    margin-bottom: 20px;
  }

  label{
    font-size: 17px;
    margin-left:0px;
    top:15px;
  }
  
  ::-webkit-input-placeholder {
    font-size: 17px;
  }
  ::-moz-placeholder {
    font-size: 17px;
  }
  :-ms-input-placeholder {
    font-size: 17px;
  }
  :-moz-placeholder {
    font-size: 17px;
  }
  
  .hs-numemployees select, .hs_how_many_topics_do_you_train_on_annually_ select{
    background-size: 16px;
    padding: 0px 20px;
    font-size: 16px;
  }

  #label-how_many_topics_do_you_train_on_annually_-ecc29b24-00c4-42c3-8215-f31ba412f934 {
    top: 0px;
    width:46%;
  }

  #label-numemployees-ecc29b24-00c4-42c3-8215-f31ba412f934,
  #label-do_you_have_an_lms_radio-ecc29b24-00c4-42c3-8215-f31ba412f934 {
    top: -45px;
    width: 100%;
  }

  #label-do_you_have_an_lms_radio-ecc29b24-00c4-42c3-8215-f31ba412f934 {
    padding-left: 10px; 
  }

  .hs-form-radio .hs-input{
    height: auto;
  }
  
  [type="radio"]:not(:checked) + span:before {
    right: -56px;
    width: 50px;
    top:-13px;
    height: 50px;
    border: 12px solid rgb(255, 255, 255);
  }
  
  
  [type="radio"]:checked + span:after,
  [type="radio"]:not(:checked) + span:after {
    top:-13px;
    width: 50px;
    height: 50px;
    border: 12px solid rgb(255, 255, 255);
    right: -56px;
  }
  
  [type="radio"]:not(:checked) + span:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  
  .hs_submit{
    padding: 80px 0px 0px;
  }

  /* Features */

  .features {
    padding-top: 80px;
    padding-left: 90px;
  }

  .features-body{
    width:100%;
    margin: auto;
  }

  .features-col {
    width: 48%;
  }  

  h3 {
    font-size: 22px;
  }

  p.features-text{
    font-size: 16px;
  }

  /* toggle */

  .toggle .custom-title.heading-up {
    margin-bottom: -70px;
  }

  .toggle .custom-title.heading-down {
    margin-left: 315px;
    margin-bottom: -50px;
  }

  h5{
    font-size: 34px;
  }

  .panel-title{
    font-size: 17px;
    line-height: 1.4;
    padding: 0px 10px;
  }

  /* Pricing */

  .pricing{
    padding: 0% 5% 0% 0%;
  }

  .pricing-subtitle {
    width: 85%;
    margin: -25px 0 0 26px;
  }

  .pricing-para, .eng-para, .manage-para {
    font-size: 17px;
  }

  .cl-2 {
    margin-left: 30px;
    margin-top: 55px;
  }

  /* Engagement */

  .engagement{
    padding: 4% 10% 0% 0%;
  }

  .engagement .heading-down{
    margin: -85px 0px -15px 0px;
  }

  /* Manage */

  .manage{
   padding: 2% 5% 0% 0%;
  }

  .manage-subtitle {
    margin: -20px 0px 0px 5px;
  }

  /* contact */
  .contact {
    margin:100px 0px 0px;
  }

  .bg-image {
    transform: translate(-27%, 35%) scale(0.6,0.6);
  }

  .contacts-title {
    font-size: 30px;
  }
  
  .contact span {
    font-size: 30px;
  }

  .contacts-subtitle {
    font-size: 20px;
  }

  .contacts-helmet{
    transform: translate(35px, 10px); 
  }

  .contact .btn-style-text{
    font-size: 24px;
    height: 60px;
    line-height: 2.5;
  }

  /* Footer */

  .footer{
    padding: 200px 20px 20px;
  }
}

@media only screen and (min-width:1201px) and (max-width:1675px){

  .home-col-1{
    width: 42%;
  }

  .home-col-2{
    width: 50%;
  }

  .home-title{
    font-size: 125px;
  }

  .home-title.heading-up{
    margin-bottom: -52px;
  }
  
  .home-title.heading-down{
    margin-left: 85px;
  }
  
  #title-span{
    font-size: 80px;
  }
  
  .request{
    margin-bottom: -20px;
  }

  .home-text{
    font-size: 17px;
  }
  
  .custom-title {
    font-size: 140px;
  }

  .features-body{
    width: 90%;
    margin: 30px 0px 0px 100px;
  }

  h3{
    font-size: 26px;
  }

  .toggle .custom-title.heading-down{
    margin-left: 425px;
    margin-bottom: -60px;
  }

  .toggle .custom-title.heading-up {
    margin-bottom: -100px;
  }
  
  .pricing-subtitle {
    width: 72%;
    margin: -65px 0 0 55px;
  }

  .pricing , .engagement, .manage {
    padding: 0% 4% 0% 4%;
  }

  .engagement .heading-down {
    margin: -121px 0px -42px 0px;
  }

  .eng-subtitle {
    margin: -20px 50px 25px 0px;
  }

  .manage-subtitle {
      margin: -25px 0px 0px 5px;
  }

  .contact{
    margin: 150px 80px 0;
  }
}


/* ====================== small icon ====================== */


@media only screen and (min-width: 768px) and (max-width: 769px){

    
  .home-icon:nth-child(1){
    max-width: 50px;
    left: 305px;
    top: 535px;
  }
    
  .home-icon:nth-child(2){
    left: -56px;
    top: -56px;
  }
    
  .home-icon:nth-child(3){
    left: 20px;
  }
    
  .home-icon:nth-child(4){
    left: -36px;
  }
    
  .home-icon:nth-child(5){
    left: 360px;
    top: 517px;
  }

  .pricing-icon:nth-child(1) {
    max-width: 25px;
    left: 295px;
    top: 34px;
  }
  
  .pricing-icon:nth-child(2) {
    left: 320px;
    top: 58px;
  }
  
  .pricing-icon:nth-child(3) {
    max-width: 35px;
    bottom: 30px;
    left: -32px;
  }

  .eng-icon:nth-child(1) {
    left: 560px;
    top: -192px;
  }
  
  .eng-icon:nth-child(2) {
    left: 560px;
    bottom: 110px;
  }
  
  .eng-icon:nth-child(3) {
    left: 370px;
    bottom: 260px;
  }

  .manage-icon:nth-child(1) {
    left: -10px;
    top: -130px;
  }
  
  .manage-icon:nth-child(2) {
    left: -54px;
    bottom: 68px;
    max-width: 45px;
  }
  
  .manage-icon:nth-child(3) {
    max-width: 30px;
    left: 430px;
    bottom: 30px;
  }
  
  .contact-icon:nth-child(1) {
    max-width: 60px;
    left: 215px;
    top: -285px;
  } 

  .contact-icon:nth-child(2) {
    left: 10px;
    bottom: 10px;
  } 

  .contact-icon:nth-child(3) {
    max-width: 40px;
    left: 55px;
    bottom: -40px;
  } 

  .contact-icon:nth-child(4) {
    left: -10px;
    bottom: -18px;
  } 

  .contact-icon:nth-child(5) {
    left: 195px;
    top: -216px;
  }
}

@media only screen and (min-width: 770px) and (max-width: 1023px){
  .small-icon-wrap{
    display: none;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1025px){

  
  .home-icon:nth-child(1){
    max-width: 55px;
    left: 457px;
    top: 562px;
  }
    
  .home-icon:nth-child(2){
    left: -60px;
    top: -66px;
  }
    
  .home-icon:nth-child(3){
    left: 20px;
  }
    
  .home-icon:nth-child(4){
    left: -36px;
  }
    
  .home-icon:nth-child(5){
    left: 435px;
    top: 615px;
  }

  .pricing-icon:nth-child(1) {
    max-width: 25px;
    left: 350px;
    top: 36px;
  }
  
  .pricing-icon:nth-child(2) {
    left: 375px;
    top: 60px;
  }
  
  .pricing-icon:nth-child(3) {
    max-width: 35px;
    bottom: 55px;
  }

  .eng-icon:nth-child(1) {
    left: 700px;
    top: -215px;
  }
  
  .eng-icon:nth-child(2) {
    left: 715px;
    bottom: 120px;
  }
  
  .eng-icon:nth-child(3) {
    left: 480px;
    bottom: 300px;
  }

  .manage-icon:nth-child(1) {
    left: -11px;
    top: -160px;
  }
  
  .manage-icon:nth-child(2) {
    left: -70px;
    bottom: 90px;
  }
  
  .manage-icon:nth-child(3) {
    max-width: 30px;
    left: 430px;
    bottom: 30px;
  }
  
  .contact-icon:nth-child(1) {
    max-width: 60px;
    left: 275px;
    top: -330px;
  } 

  .contact-icon:nth-child(2) {
    left: -15px;
    bottom: 45px;
  } 

  .contact-icon:nth-child(3) {
    max-width: 50px;
    left: 18px;
    bottom: -26px;
  } 

  .contact-icon:nth-child(4) {
    left: -40px;
    bottom: 12px;
  } 

  .contact-icon:nth-child(5) {
    left: 250px;
    top: -272px;
  }
}