* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html * {
  max-height: 999999px;
}

body{
  background: url(../images/background\ copy.png);
  background-color:#dae6ed;
  background-repeat: no-repeat; 
  background-size: cover;
  color: #193347;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Poppins';
  box-sizing: border-box;
}

.main-container{
  display: block;
  overflow: hidden;
}

.content-wrapper{
  width: 90%;
  margin:auto;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1580px;
  width: 100%;
}

.custom-title {
  position: relative;
  font-size: 170px;
  font-weight: 900;
  line-height: 1.6;
  text-transform: none;
  margin: 0; 
  color: #000;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(45deg, #cbe1ef, #f0f8fe);
  background-image: -o-linear-gradient(45deg, #cbe1ef, #f0f8fe);
  -webkit-background-clip: text;
}

h4 {
  position: relative;
  color: #193347;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 20px;
  z-index: 2;
}


.link-style {
  color: #f7a140;
  font-weight: 700;
  border-bottom: 1px solid #f7a140;
  text-decoration: none;
  font-size: 20px;
  text-shadow: 0 7px 9px rgba(33, 62, 83, 0.12);
} 

.link-style:hover {
  color: #f7a140;
  text-decoration: none;
} 

.small-icon-wrap {
  position: absolute;
  width: 60%;
}

/* Home */

.home {
  padding: 60px 0 0 60px;
  position: relative;
}

.home-row {
  margin-top:20px;
  display: flex;
  justify-content: space-between;
}

.home-col-1 {
  position: relative;
  width:35%;
  margin: 0 auto 0 20px;
}

.request{
  margin-bottom: -40px;
}

.home-col-2 {
  position: relative;
  width:45%;
  margin: 0 auto;
}

.home-text{
  color:#3f8bbd;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.3;
}

.home-form-wrapper {
  position: relative;
}

.logo {
  max-width: 400px;
  padding-bottom:30px;
}

.logo img {
  display: block;
  max-width: 100%;
  height: auto;
}

.home-title{
  display: block;
  color:  #000;
  font-size: 175px;
  font-weight: 900;
  line-height: 1.2;
  text-transform: none;
  text-align: center;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(45deg,#74a9d0, #98c3de);
  background-image: -o-linear-gradient(45deg, #74a9d0, #98c3de);
  -webkit-background-clip: text;
}

#title-span{
  font-size: 113px;
}

.home-title.heading-up{
  text-align: left;
  margin-bottom:-50px;
}

.home-title.heading-down{
  text-align: right;
}

.home-icon{
  display: block;
  position: absolute;
}

.home-icon:nth-child(1){
  max-width: 75px;
  left: 10px;
  top: -57px;
}
  
.home-icon:nth-child(2){
  max-width: 55px;
  left: 840px;
  top: 565px;
}
  
.home-icon:nth-child(3){
  max-width: 30px;
  left: 860px;
  top: 495px;
}
  
.home-icon:nth-child(4){
  max-width: 10px;
  left: 905px;
  top: 535px;
}
  
.home-icon:nth-child(5){
  max-width: 25px;
  left: -40px;
  top: 25px;
}


/* Features Section*/

.features{
  padding-top: 140px;
}

.features-body{
  width:85%;
  margin:30px 20px 0px 160px;
}

.features-row {
  display: flex;
  justify-content: space-between;
}

.features-col {
  width: 50%;
}

h3{
  font-weight:700;
  font-size:28px;
}

p.features-text {
  font-size:18px;
  font-weight: 300;
}

.icon{
  height: 25px;
  width: 25px;
  display: block;
  background-image: url(../images/chackmark-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  float:left;
  margin: 2px 5px auto auto ;
}


/* Toggle Section */

.toggle {
  position: relative;
  padding: 2% 5% 0% 5%;
}

.togglt-bg-image {
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translate(-10%, 36%);
}

.toggle .custom-title.heading-up{
  text-align: left;
  margin-bottom:-125px;
}

.toggle .custom-title.heading-down{
  margin-left:520px;
  margin-bottom:-60px;
}

h5{
  color: #cbe1ee;
  font-size: 40px;
  line-height: 1;
  font-weight: 700;
}

.panel-group .panel+.panel{
  margin-top:25px;
}

.panel-heading{
  padding: 0;
}

.toggle-datas{
  margin:50px 15px;
}

.panel{
  cursor: pointer;
  padding: 5px 2px;
  background-color: white;
  box-shadow:4px 5px 20px 2px rgba(208, 234, 243, 0.664);
}

.toogle-heading{
  margin-top:15px;
}

p.toggle-text{
  margin-top: 1rem;
  font-size: 21px;
  font-weight: 300;
  padding: 5px 0px;
  line-height: 1.3;
}

.toggle-image{
  display: none;
  padding:3% 5%;
}

.toggle-image img {
  width:100%;
}


.panel-title {
  text-decoration: none;
  color: #193347;
  font-size: 18px;
  padding: 10px 10px;
  margin-bottom: -1px;
  font-weight:600;
  display: flex;
}

.icon-div{
  width:20px;
  margin: auto 30px;
}

.check-icon{
  height: 20px;
  width: 20px;
  display: block;
  background-image: url(../images/chackmark-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  float:left;
  margin: auto ;
}


/* pricing */

.pricing, .engagement, .manage{
  position: relative;
  padding: 2% 7% 0% 10%;
}

.pricing-subtitle{
  width:68%;
  margin:-65px 0 0 80px;
}

.text-up{
  float:left;
}

.text-down{
  float: right;
  margin-top:-10px;
}

.pricing-row, .manage-row{
  display: flex;
  margin-left: 30px;
}


.cl-2{
  margin-left: 40px;
  margin-top: 90px;
}

.pricing-para, .eng-para, .manage-para{
  font-size: 20px;
  font-weight: 300;
}

/* engagement Section*/

.eng-row{
  margin-left: 30px;
}

.engagement .heading-up{
  text-align: right;
}

.engagement .heading-down{
  text-align: left;
  margin:-140px 0px -50px 0px;
}

.eng-subtitle{
  text-align: right;
  margin: -10px 160px 25px 0px;
}

.eng-links{
  width: 550px;
  margin-left: 220px;
  display: flex;
  justify-content: space-evenly;

}

/* manage */

.manage .cl-2{
  margin-left: 50px;
}

.manage-subtitle{
  margin:-50px 0px 0px 5px;
}

/* button */


.btn-style {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  transition: .3s ease;
  line-height: 1.2;
  text-decoration: none;
  min-width: 170px;
  border-radius: 10px;
  height: 70px;
  box-shadow: 0 15px 25px rgba(25, 51, 71, 0.1), inset 0 -5px 0 rgba(0, 0, 0, 0.1);
  background-color: #d3de3f;
  background-image: linear-gradient(25deg, rgba(195, 216, 46, 0.5) 0%, rgba(230, 231, 93, 0.5) 100%);
} 

.btn-style a{
  text-decoration: none;
}

.btn-style-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 25px;
}
  
.btn-style-text {
  text-align: center;
  position: relative;
  display: block;
  text-decoration: none;
  text-shadow: 0 3px 5px rgba(33, 62, 83, 0.2);
  color: white;
  font-size: 26px;
  font-weight: 900;
}
  
.btn-style:hover{
  background-color: #b4c03c;
}

.btn-style:focus{
  border: none;
}

button.btn-style:focus{
  border: none;
  outline: none;
}


/********************
    form
*********************/

input.hs-button.primary.large{
  border:none;
  outline: none;
  overflow: hidden;
  display: block;
  margin: auto;
  text-align: center;
  position: relative;
  text-decoration: none;
  text-transform: lowercase;
  cursor: pointer;
  transition: .3s ease;
  line-height: 1.2;
  min-width: 250px;
  text-shadow: 0 3px 5px rgba(33, 62, 83, 0.2);
  color: white;
  font-size: 26px;
  font-weight: 900;
  border-radius: 7px;
  height: 65px;
  box-shadow: 0 15px 25px rgba(25, 51, 71, 0.1), inset 0 -5px 0 rgba(0, 0, 0, 0.1);
  background-color: #d3de3f;
  background-image: linear-gradient(25deg, rgba(195, 216, 46, 0.5) 0%, rgba(230, 231, 93, 0.5) 100%);
}

input.hs-button.primary.large:hover{
  background-color: #b5c22a;
}

.hs-form .hs-form-field {
  position: relative;
  margin-bottom: 25px;
}

label{
  opacity: 0.6;
  color: #193347;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  top:25px;
  margin-left:30px;
}

::-webkit-input-placeholder {
  color: #193347;
  font-size: 20px;
  opacity: 0.6;
}
::-moz-placeholder {
  color: #193347;
  font-size: 20px;
}
:-ms-input-placeholder {
  color: #193347;
  font-size: 20px;
}
:-moz-placeholder {
  color: #193347;
  font-size: 20px;
}

input:focus::placeholder{
  color:transparent;
}


#label-numemployees-ecc29b24-00c4-42c3-8215-f31ba412f934,
#label-do_you_have_an_lms_radio-ecc29b24-00c4-42c3-8215-f31ba412f934{
  top:-50px;
}

.hs-input{
  border: none;
  outline: none;
  position: relative;
  z-index: 9;
  transition: 0.5s ease;
  border-radius: 5px;
  width: 100%;
  height: 80px;
  box-shadow: 0 13px 50px rgba(219,235,244,0.6);
  background-color: #fff;
  color:  #193347;
  padding: 0px 30px;
  font-size: 16px;
  font-weight: 400;
  -webkit-appearance: none;
}

.hs-numemployees select{
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../images/svg/arrow.svg) no-repeat;
  background-color: white;
  background-position: 10% 50%;
  background-size: 18px;
  padding: 0px 50px;
  text-align-last: end;
  font-size: 20px;
}

.hs_how_many_topics_do_you_train_on_annually_ select{
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../images/svg/arrow.svg) no-repeat;
  background-color: white;
  background-position: 90% 50%;
  background-size: 18px;
  padding: 0px 40px;
  font-size: 20px;
}

.hs-form-radio .hs-input{
  box-shadow: none;
  height: auto;
  width:auto;
}

ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 90%;
}

li{
  width: 40%;
  margin: auto;
}

.hs-form-radio p{
  display: inline;
}

.hs_radio_select_property.field.hs-form-field{
  margin-bottom: 0;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  visibility: hidden;
}

[type="radio"]:checked + span,
[type="radio"]:not(:checked) + span
{
  position: relative;
  cursor: pointer;
  line-height: 20px;
    
}

[type="radio"]:checked + span{
  width: 100px;
}

[type="radio"]:not(:checked) + span:before {
  content: '';
  position: absolute;
  top: -17px;
  right: -77px;
  width: 63px;
  height: 63px;
  box-shadow: 0 15px 25px rgba(25, 51, 71, 0.1), inset 2px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #f6fafd;
  border: 15px solid rgb(255, 255, 255);
  border-radius: 100%;
}

#do_you_have_an_lms_radio0-06257986-1392-4aad-86ec-bba38f21f752:checked + span:before{
  content: '';
  position: absolute;
  top: -17px;
  right: -95px;
  width: 80px;
  height: 110px;
  box-shadow: 0 15px 25px rgba(25, 51, 71, 0.1), inset 2px 2px 4px rgba(0, 0, 0, 0.2);
  border: 40px solid rgb(255, 255, 255);
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
}

#label-how_many_topics_do_you_train_on_annually_-ecc29b24-00c4-42c3-8215-f31ba412f934{
  width:46%;
  top: 15px;
}

.hs-numemployees{
  width:46%;
  float: left;
  margin: 50px auto 0px auto;
}

.hs_do_you_have_an_lms_radio{
  width:46%;
  float: right;
  margin: 50px auto 0px auto;
}

.hs_how_many_topics_do_you_train_on_annually_{
  clear: left;
}

.hs_how_many_topics_do_you_train_on_annually_ .input{
  float: right;
  width:46%;
  margin: auto;
}

[type="radio"]:checked + span:after,
[type="radio"]:not(:checked) + span:after {
  content: '';
  width: 63px;
  height: 63px;
  box-shadow: 0 15px 25px rgba(25, 51, 71, 0.1), inset 0 -5px 0 rgba(0, 0, 0, 0.1);
  background-color: #d3de3f;
  border: 15px solid rgb(255, 255, 255);
  position: absolute;
  right: -77px;
  top:-17px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + span:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.hs_submit{
  padding: 100px 0px 0px;
}

/********************
     Contact
*********************/

.contact-section{
  position: relative;
}

.contact{
  margin:150px 150px 0 ;
  position: relative;
}

.bg-image {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-10%, 33%) scale(0.9,0.9);
}

.contact-row{
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}

.contact-col-2 {
  max-width: 38%;
}

.contact-col-1 {
  max-width: 60%;
  flex: 0 0 60%;
}

.free-trial-btn{
  margin-top: 20px;
  display: flex;
}

.contacts-title {
  font-size: 35px;
  font-weight: 400;
  line-height: 1;
}

.contacts-title span{
  font-size: 50px;
  font-weight: 700;
}

.contacts-title a{
  font-weight: 700;
  color:  #193347;
  text-decoration: none;
}

.contacts-subtitle {
  font-size: 26px;
  line-height: 1;
  margin-bottom: 40px;
}

.contacts-btn-wrap {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.contacts-text {
  font-size: 30px;
  font-weight: 400;
  margin-right: 18px;
}

.contacts-btn{
  display: inline;
}

.contacts-helmet {
  display: block;
  transform: translate(130px, 50px) scale(1.2);
  max-width: 100%;
}

.contacts-image-wrap {
  position: relative;
}

.contact-icon{
  display: block;
  max-width: 40px;
  position: absolute;
}

.contact-icon:nth-child(1) {
  max-width: 72px;
  left: 520px;
  top: -480px;
}

.contact-icon:nth-child(2) {
  max-width: 28px;
  left: -53px;
  bottom: 56px;
}

.contact-icon:nth-child(3) {
  max-width: 60px;
  left: -7px;
  bottom: -10px;
}

.contact-icon:nth-child(4) {
  max-width: 12px;
  left: -81px;
  bottom: 23px;
}

.contact-icon:nth-child(5) {
  max-width: 32px;
  left: 485px;
  top: -390px;
}

/**************
    Footer 
***************/

.footer {
  position: relative;
  padding: 150px 0 20px 80px;
  background: url(../images/footer-bg.png);
  background-size: cover;
}

.footer-logo-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

.footer-logo {
  margin-right: 33px;
}

.footer-logo img{
  display: block;
  max-width: 160px;
  height: auto;
  margin-bottom: 15px;
}

.footer-nav {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.footer-nav a{
  color: #193347;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  margin-right: 20px;
  text-decoration: none;
}

.footer-copyright {
  opacity: 0.5  ;
  color: #193347;
  font-size: 18px;
}

.row {
  display: flex;
  align-items: center;
} 


/********************
    Lift Up  
*********************/

.lift-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  z-index: 80 ;
  width: 60px;
  height: 60px;
  box-shadow: 0 0 35px rgba(177, 192, 201, 0.75);
  background-color: white;
  transform: translateY(120%);
  transition:  0.5s ease;;
}

._active {
  transform: translateY(0);
}
  
.lift-up:after {
  content: "";
  display: block;
  width: 22px;
  height: 16px;
  background-image: url(../images/svg/arrow.svg);
  transform: scale(1, -1);
  background-repeat: no-repeat;
  background-size: contain;
}

  
.lift-up:hover::before{
  transform: translate(-50%, -70%) rotate(-90deg);
}



/**************************
        Media Query
***************************/

@media only screen and (max-width:1200px){

  label.lms-text span{
    display: inline-block;
    width: 96vw;
    text-align: center;
  }
  
  .content {
    padding: 0;
  }

  .footer-nav{
    flex-wrap: wrap;
  }

  .footer-nav a{
    margin-bottom: 14px;
  }

}

/* @media only screen and (max-width: 350px){
  p#text{
    font-size: 42px;
  }

  h2.keypoint-title{
    font-size: 52px;
  }
} */


/* @media only screen and (max-width: 767px){

  .small-icon-wrap{
    display: none;
  }
} */



@media only screen and (max-width:600px){
  
  /* .home{
    padding: 20px 0 60px;
  }

  .heading-up{
    margin-bottom: -30px;
  }

  .heading-down{
    margin: 30px 0px 0px 0px;
  }

  .home-col-1 {
    width:90%;
    margin: auto;
  }

  .home-text-wrap h1{
    font-size: 18px;
  }

  .home-text-wrap{
    padding-left: 0px;
  }

  .home-text-para {
    max-width: 100%;
    font-size: 14px;
    line-height: 1.3;
    margin-top: 14px;
  }

  .home-col-2 {
    width:100%;
    margin: auto;
  }

  .home-bg{
    max-width:100%;
  }

  .home-row {
    flex-direction: column;
  }

  .row {
    flex-direction: column;
    margin:0px;
  } */

  /*   content  */

/* 
  .custom-title {
    font-size: 55px;
    line-height: .8;
    text-align: center;
  }

  .content-image-wrap.col-5 {
    max-width: 100%;
    width: 100%;
    margin: auto;
  }

  .cRow {
    flex-direction: column;
    margin-left:0%;
  }

  .col-7{
    width: 100%;
  }

  .content-content-wrap.col-7{
    max-width: 90%;
    margin: 75px auto auto auto;
    padding: 0px 0px;
  }

  .content-content-wrap.col-7 p{
    font-size: 14px;
  }

  .anim-icon-wrap{
    width: 268px;
    height: 293px;
  }

  .content-row{
    flex-direction: column;
  }

  .content-col{
    width:100%;
  }

  h4{
    font-size: 16px;
    margin-bottom: 8px;
  }

  .link-style{
    font-size: 18px;
  }

  .home-text{
    margin-left: 0px;
  }

  .btn-style{
    height:60px;
  }

  .btn-style-text{
    font-size: 20px;
  }

  .home-play-btn{
    top: 45%;
    width: 60px;
  } */

  /*   Keypoint */

  /* .keypoint{
    padding: 50px 10px;
  }

  .card-body p{
    font-size: 14px;
    text-align: left;
  }

  .keypoint-row {
    flex-direction: column;
    margin: auto;
  }

  .keypoint-title{
    width:100%;
    font-size: 55px;
    color: #daebf4;
  }
  
  .card.keypoint-card{
    width: 100%;
    margin-bottom: 40px;
    padding: 0;
  }
    
  .card-text.bottom{
   min-height: fit-content;
  }

  .top{
    padding: 0;
  }

  .card img {
    width: 180px;
    margin: 0px auto 0px auto;
  } */

  /*  tool */

  /* .tools {
    padding: 0 0 100px;
  }

  .tools-wrap{
    flex-direction: column;
    align-items: center;
  }

  .tools-item{
    width: 60%;
    margin: 0px 0px 0px 0px;
  }

  .tools-num{
    margin-right: 140px;
    bottom: -90px;
    font-size: 180px;
  }

  .tools-text{
    font-size: 14px;
  }

  .tools-icon{
    right: 0px;
    max-width: 180px; 
  } */

  /*  form */

  /* .app-form{
    padding: 50px 0px 0px 0px;
  }

  #text{
    font-size:48px;
  }

  .placeholder-form {
    width: 100%;
    padding: 0px 10px;
  }

  label.lms-text{
    font-size: 22px;
  }

  .hs_firstname, .hs_lastname, .hs_company,.hs_email, .hs_phone, .hs_numemployees{
    float: none;
    width:100%;
  }

  .hs-form label.right {
    right: 0px;
    left:45px;
  }

  .hs-form label {
    font-size: 16px;
    top: -30px;
  }

  .hs-form label.left, .hs-form label.right{
    left: 15px;
  }

  .hs-form .hs-form-field {
    margin-bottom: 50px;
  }

  .form-columns-1, .form-columns-2{
    margin-top: 0px;
  }

  select#numemployees.hs-input{
    font-size: 14px;
  }

  select{
    background-position: 90% 45%;
    background-size: 18px;
    text-align-last: left;
  }

  [type="radio"]:not(:checked) + span:before {
    left: 110px;
    top: -12px;
    width: 40px;
    height: 40px;
    border: 10px solid rgb(255, 255, 255);
  }

  [type="radio"]:checked + span:after,
  [type="radio"]:not(:checked) + span:after {
    width: 20px;
    height: 20px;
    left: 120px;
    top: 2px;
  }

  #do_you_have_an_lms_radio0-06257986-1392-4aad-86ec-bba38f21f752:checked + span:before{
    display: none;
    width: 80px;
    height: 110px;
  }

  .hs-form-radio .hs-form-radio-display span{
    font-size:20px;
    display: table;
  }

  textarea#multi_line_text_property {
    padding: 10px 10px;
  }

  .form-row-btn{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }

  .form-row-btn{
    width:90%;
    margin: auto;
  }

  .form-label{
    text-align: center;
    font-size: 12px;
    margin: 20px 0px 20px 0px;
  }

  ul{
    width: 100%;
    margin: 0 0 4% 0;
    flex-direction: column;
    justify-content: space-between;
  }

  li{
    width: 65%;
    display: flex;
    margin: auto 31%;
  }

  .hs-form-radio p {
    font-size: 18px;
    width: 100px;
  }

  .input .hs-input{
    height: 50px;
    padding: 10px 10px;
  }

  .hs_submit{
    align-self: center;
  } */

  
  /* contact */

  .contacts-subtitle {
    font-size: 20px;
    font-weight: 400;
  }

  .contacts-title span {
    font-size: 30px;
  }

  .contacts-title {
    font-size: 26px;
  }

  .contacts-helmet {
    transform: translate(0px, 0px);
  }

  .contact-icon:nth-child(1) {
    max-width: 62px;
    left: 260px;
  }

  .contact-icon:nth-child(5) {
    max-width: 32px;
    left: 260px;
  }

  .free-trial-btn .btn-style .btn-style{
    font-size: 30px;
  }

  .free-trial-btn .btn-style{
    height: 60px;
    font-weight: 700;
  }

  .contact {
    padding: 50px 0px 0px 0px;
  }

  .contact-row {
    flex-direction: column-reverse;
  }

  .contact-col-2{
    margin-bottom: 40px;
    max-width: 100%;
  }
  .contact-col-1 {
    max-width: 90%;
    margin: auto;
  }

  .footer {
    padding: 85px 20px 20px;
  }

  .footer-logo {
    margin-right: 50px;
    margin-bottom: 35px;
  }

  .footer-copyright {
    font-size: 13px;
  }

  .footer-logo-wrap{
    display: block;
    margin-bottom:15px;
  }

  .footer-nav a{
    font-size: 16px;
  }

}

@media only screen and (min-width:600px) and (max-width:767px){
  
  /* .home{
    padding: 20px 0 60px;
  }

  .heading-up{
    margin-bottom: -30px;
  }

  .heading-down{
    margin: 30px 0px 0px 0px;
  }

  .home-col-1 {
    width:90%;
    margin: auto;
  }

  .home-text-wrap h1{
    font-size: 24px;
  }

  .home-text-wrap{
    padding-left: 0px;
  }

  .home-text-para {
    max-width: 100%;
    font-size: 18px;
    line-height: 1.3;
    margin-top: 14px;
  }

  .home-col-2 {
    width:80%;
    margin: auto;
  }

  .home-bg{
    max-width:100%;
  }

  .home-row {
    flex-direction: column;
  }

  .row {
    flex-direction: column;
    margin:0px;
  } */

  /*   content  */


  /* .custom-title {
    font-size: 75px;
    line-height: .8;
    text-align: center;
  }

  .content-image-wrap.col-5 {
    max-width: 100%;
    width: 100%;
    margin: auto;
  }

  .cRow {
    flex-direction: column;
    margin-left:0%;
  }

  .col-7{
    width: 100%;
  }

  .content-content-wrap.col-7{
    max-width: 90%;
    margin: 75px auto auto auto;
    padding: 0px 0px;
  }

  .content-content-wrap.col-7 p{
    font-size: 16px;
  }

  .anim-icon-wrap{
    width: 325px;
    height: 367px;
  }

  h4{
    font-size: 18px;
  }

  .link-style{
    font-size: 20px;
  }

  .home-text{
    margin-left: 0px;
  }

  .btn-style{
    height:60px;
  }

  .btn-style-text{
    font-size: 20px;
  }

  .home-play-btn{
    top: 45%;
    width: 60px;
  } */

  /*   Keypoint */

  /* .keypoint{
    padding: 60px 80px;
  }

  .card-body p{
    font-size: 16px;
  }

  .keypoint-row {
    flex-direction: column;
    margin: auto;
  }

  .keypoint-title{
    width:100%;
    font-size: 75px;
    color: #daebf4;
  }
  
  .card.keypoint-card{
    width: 100%;
    margin-bottom: 40px;
    padding: 0;
  }
    
  .card-text.bottom{
   min-height: fit-content;
  }

  .top{
    padding: 10px;
  }

  .card img {
    width: 220px;
    margin: 0px auto 0px auto;
  } */

  /*  tool */

  /* .tools {
    padding: 0 0 100px;
  }

  .tools-wrap{
    flex-direction: column;
    align-items: center;
  }

  .tools-item{
    width: 60%;
    margin: 0px 0px 40px;
  }

  .tools-num{
    margin-right: 130px;
    bottom: -50px;
    font-size: 270px;
  }

  .tools-text{
    font-size: 16px;
  }

  .tools-icon{
    right: 0px;
  } */

  /*  form */

  /* .app-form{
    padding: 50px 0px 0px;
  }

  #text{
    font-size:60px;
  }

  .placeholder-form {
    width: 100%;
    padding: 0px 10px;
  }

  label.lms-text{
    font-size: 24px;
  }

  .hs_firstname, .hs_lastname, .hs_company,.hs_email, .hs_phone, .hs_numemployees{
    float: none;
    width:100%;
  }

  .hs-form label.right {
    right: 0px;
    left: 45px;
  }

  .hs-form label {
    font-size: 18px;
    top: -35px;
  }

  .hs-form label.left, .hs-form label.right{
    left: 15px;
  }

  .hs-form .hs-form-field {
    margin-bottom: 55px;
  }

  .form-columns-1, .form-columns-2{
    margin-top: 0px;
  }

  select#numemployees.hs-input{
    font-size: 16px;
  }

  select{
    background-position: 90% 45%;
    background-size: 18px;
    text-align-last: left;
  }

  textarea#multi_line_text_property {
    padding: 10px 10px;
  }

  .form-row-btn{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }

  .form-row-btn{
    width:90%;
    margin: auto;
  }

  .form-label{
    text-align: center;
    font-size: 14px;
    margin: 20px 0px 20px 0px;
  }

  ul{
    width: 98%;
  }

  .hs-form-radio p {
    font-size: 18px;
  }

  .input .hs-input{
    height: 65px;
    padding: 15px 15px;
  }

  .hs_submit{
    align-self: center;
  } */

  
  /* contact */

  .contacts-subtitle {
    font-size: 20px;
    font-weight: 400;
  }

  .contacts-title span {
    font-size: 30px;
  }

  .contacts-title {
    font-size: 26px;
  }

  .contacts-helmet {
    transform: translate(0px, 0px);
  }

  .free-trial-btn .btn-style .btn-style{
    font-size: 30px;
  }

  .free-trial-btn .btn-style{
    height: 60px;
    font-weight: 700;
  }

  .contact {
    padding: 50px 0px 0px 0px;
  }

  .contact-row {
    flex-direction: column-reverse;
  }

  .contact-col-2{
    margin-bottom: 40px;
    max-width: 100%;
  }

  .contact-col-1 {
    max-width: 90%;
    margin: auto;
  }

  .footer {
    padding: 85px 20px 20px;
  }

  .footer-logo {
    margin-right: 50px;
    margin-bottom: 35px;
  }

  .footer-copyright {
    font-size: 13px;
  }

}


@media only screen and (min-width:768px) and (max-width:950px){
 
  /* .home{
    padding: 20px 0 60px;
  }

  .heading-up{
    margin-bottom: -50px;
  }

  .home-col-1 {
    width:90%;
    margin: auto;
  }

  .home-text-wrap h1{
    font-size: 30px;
  }

  .home-text-wrap{
    padding-left: 0px;
  }

  .home-text-para {
    max-width: 100%;
    font-size: 20px;
    line-height: 1.3;
    margin-top: 14px;
  }

  .home-col-2 {
    width:80%;
    margin: auto;
  }

  .home-bg{
    max-width:100%;
  }

  .home-row {
    flex-direction: column;
  }

  .row {
    flex-direction: column;
    margin:0px;
  }

  /* content */


  /* .content{
    padding: 0% 2%;
  }

  .custom-title {
    font-size: 100px;
    text-align: center;
  }

  .heading-down{
    margin: 30px 0px 0px 0px;
  }

  .cRow {
    margin-left:0%;
  }

  .content-content-wrap{
    padding-right: 0px;
    margin-top: -35px;
  }

  .content-content-wrap.col-7 p{
    font-size: 14px;
  }

  h4{
    font-size: 16px;
  }

  .anim-icon-wrap{
    height: 310px;
    align-self: center;
  }

  .link-style{
    font-size: 20px;
  } */ 

  /* keypoint */

  /* .keypoint{
    padding: 100px 10px;
  }

  .keypoint-title{
    width:100%;
    font-size: 100px;
  }

  .card.keypoint-card {
    padding: 0.5em;
    flex:1;
  } 

  .top{
    padding:0px;
  }

  .middle{
    min-height: 220px;
  }

  .card img{
    width: 180px;
    margin:0px;
  }
    
  .bottom{
    font-size: 14px;
    text-align: left;
  } */

  /* Tools */

  /* .tools{
    padding: 0;
  }

  .tools-item {
    width: auto;
    margin: 0 20px 0px 10px;
  }

  .tools-text{
    font-size: 14px;
  }

  .tools-icon{
    max-width: 170px;
    right: 0px;
  }

  .tools-num{
    bottom: -100px;
    font-size: 180px;
    margin-right: 115px;
  } */

  /* Form */

  /* .app-form {
    padding: 150px 0px 0px 0px;
  }

  .placeholder-form{
    padding: 0px 20px;
  }

  #text{
    font-size: 60px;
  }

  .form-columns-1, .form-columns-2{
    margin-top: 45px;
  }

  .hs-form label.left{
    left: 20px;
  }

  .hs-form label.right{
    right: 20px;
  }

  .hs-form label{
    top:-35px;
  }

  select{
    background-position: 90% 45%;
    background-size: 18px;
    text-align-last: left;
  }

  .input .hs-input{
    height: 60px;
    padding: 10px 20px;
  }

  textarea#multi_line_text_property {
    padding: 20px 20px;
  }

  ul{
    width: 90%;
  }

  .form-label{
    font-size: 11px;
  } */

  /* contact */
  .contact {
    padding: 80px 50px 0px;
  }

  .contacts-title {
    font-size: 26px;
  }
  
  .contact span {
    font-size: 26px;
  }

  .contacts-subtitle {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .contacts-helmet{
    transform: translate(35px, 10px); 
  }

  .free-trial-btn .btn-style-text{
    font-size: 24px;
  }

  /* Footer */

  .footer{
    padding: 200px 20px 20px;
  }

}

@media only screen and (min-width:951px) and (max-width:1200px){
 
  /* .home {
    padding: 60px 0 115px;
  }
 
  .home-text-para{
    font-size: 20px;
  }

  .home-text-wrap h1{
    font-size: 26px;
  }

  .home-btn-wrap{
    text-align: center;
  } */


  /* content */


  /* .content{
    padding: 0% 3%;
  }

  .custom-title {
    font-size: 100px;
    text-align: center;
  }

  .heading-down{
    margin: 30px 0px 0px 0px;
  }

  .cRow {
    margin-left:0%;
  }

  .content-content-wrap{
    padding-right: 0px;
    margin-top: -35px;
  }

  .content-content-wrap.col-7 p{
    font-size: 16px;
  }

  h4{
    font-size: 18px;
  }

  .anim-icon-wrap-icon:nth-child(2) {
    top: 38%;
  }

  .anim-icon-wrap-icon:nth-child(3) {
    top: 47%;
  }

  .anim-icon-wrap-icon:nth-child(4) {
    top: 64%;
  }

  .link-style{
    font-size: 24px;
  } */

  /* keypoint */

  /* .keypoint{
    padding: 100px 20px;
  }

  .keypoint-title{
    width:100%;
    font-size: 100px;
  }

  .card.keypoint-card {
    padding: 0.5em;
    flex:1;
  } 

  .top{
    padding:0px;
  }
    
  .bottom{
    min-height: 555px;
    font-size: 16px;
    text-align: left;
  } */


  /* Tools */

  /* .tools{
    padding: 0;
  }

  .tools-item {
    width: auto;
  }

  .tools-text{
    font-size: 18px;
  } */


  /* Form */

  /* .app-form {
    padding: 150px 0px 0px 0px;
  }

  .placeholder-form{
    padding: 0px 20px;
  }

  .form-columns-1, .form-columns-2{
    margin-top: 45px;
  }

  .hs-form label.left{
    left: 20px;
  }

  .hs-form label.right{
    right: 20px;
  }

  .hs-form label{
    top:-35px;
  }

  .input .hs-input{
    height: 80px;
    padding: 10px 20px;
  } */

  /* contact */
  .contact {
    padding: 100px 70px 0px;
  }

  .contacts-title {
    font-size: 30px;
  }
  
  .contact span {
    font-size: 30px;
  }

  .contacts-subtitle {
    font-size: 20px;
  }

  .contacts-helmet{
    transform: translate(35px, 10px); 
  }

  /* Footer */

  .footer{
    padding: 200px 20px 20px;
  }
}

/* ====================== small icon ====================== */


/* @media only screen and (min-width: 768px) and (max-width: 769px){

  .home-icon:nth-child(1) {
    max-width: 68px;
    left: -12px;
    top: -54px;
  }

  .home-icon:nth-child(2) {
    max-width: 48px;
    left: 600px;
    top: 409px;
  }

  .home-icon:nth-child(3) {
    max-width: 20px;
    left: 611px;
    top: 355px;
  }

  .home-icon:nth-child(4) {
    max-width: 12px;
    left: 650px;
    top: 376px;
  }

  .home-icon:nth-child(5) {
    max-width: 20px;
    left: -40px;
  }

  .home-play-btn{
    width: 80px;
  }

  .content-icon:nth-child(1) {
    left: -15px;
    top: 70px;
  }

  .content-icon:nth-child(2) {
    left: 295px;
    top: 325px
  }

  .content-icon:nth-child(3) {
    top: 320px;
  }

  .content-icon:nth-child(4) {
    left: 13px;
  }

  .content-icon:nth-child(6) {
    left: -35px;
  }

  .content-icon:nth-child(5) {
    max-width: 50px;
    left: 235px;
    top: 268px;
  }

  .keypoint-icon:nth-child(1) {
    max-width: 32px;
    left: 86px;
    top: -86px;
  }

  .keypoint-icon:nth-child(2) {
    max-width: 12px;
    left: 630px;
    top: -120px;
  }

  .keypoint-icon:nth-child(3) {
    max-width: 27px;
    left: 654px;
    top: -115px;
  }

  .contact-icon:nth-child(1) {
    max-width: 60px;
    left: 230px;
    top: -268px;
  }

  .contact-icon:nth-child(2) {
    left: 18px;
    bottom: 14px;
  } 

  .contact-icon:nth-child(3) {
    max-width: 45px;
    left: 58px;
    bottom: -45px;
  } 

  .contact-icon:nth-child(4) {
    left: -8px;
    bottom: -7px;
  } 

  .contact-icon:nth-child(5) {
    left: 200px;
    top: -220px;
  }

}

@media only screen and (min-width: 770px) and (max-width: 1023px){
  .small-icon-wrap{
    display: none;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1025px){

  .home-icon:nth-child(1) {
    max-width: 57px;
    left: -10px;
    top: -45px;
  }

  .home-icon:nth-child(2) {
    max-width: 42px;
    left: 553px;
    top: 375px;
  }

  .home-icon:nth-child(3) {
    max-width: 20px;
    left: 557px;
    top: 328px
  }

  .home-icon:nth-child(4) {
    max-width: 10px;
    left: 583px;
    top: 350px;
  }

  .home-icon:nth-child(5) {
    max-width: 20px;
    left: -28px;
  }

  .content-icon:nth-child(1) {
    left: -15px;
    top: 70px;
  }

  .content-icon:nth-child(2) {
    left: 355px;
    top: 455px;
  }

  .content-icon:nth-child(3) {
    top: 425px;
  }

  .content-icon:nth-child(5) {
    max-width: 50px;
    left: 280px;
    top: 370px;
  }

  .keypoint-icon:nth-child(1) {
    max-width: 32px;
    left: 203px;
    top: -86px;
  }

  .keypoint-icon:nth-child(2) {
    max-width: 12px;
    left: 750px;
    top: -120px;
  }

  .keypoint-icon:nth-child(3) {
    max-width: 27px;
    left: 770px;
    top: -115px;
  }

  .contact-icon:nth-child(1) {
    max-width: 60px;
    left: 311px;
    top: -350px;
  } 

  .contact-icon:nth-child(2) {
    left: -15px;
    bottom: 45px;
  } 

  .contact-icon:nth-child(3) {
    max-width: 50px;
    left: 18px;
    bottom: -26px;
  } 

  .contact-icon:nth-child(4) {
    left: -40px;
    bottom: 12px;
  } 

  .contact-icon:nth-child(5) {
    left: 280px;
    top: -286px;
  }
} */